html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.01);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: auto;
}

.mask svg {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  pointer-events: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
